.List {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.List__titleContainer {
  padding-top: 6rem;
}

.List__title {
  margin-bottom: 2rem !important;
}

.List__placesContainer {
  overflow: auto;
}

.List__places {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 0 !important;
}

.Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem !important;
}

.Inputs__input:first-child {
  margin-right: 1rem;
}
